body {
	font-size: 12px;
	font-family: helvetica, arial, sans-serif;
	background-color: #cdcdcd;
	margin: 0;
}

A:link {
	text-decoration: none;
	color: #000000;
}

A:hover {
	border-bottom: 2px #bababa dashed;
}

A:visited {
	color: black;
}

#header {
	position: relative;
	font-size: 100px;
	padding: 15px;
	left: 120px;
}

#header #image {
	float: left;
}

#header #image img {
	height: 110px;
}

#header #title {
	float: left;
}

#search-bar {
	font-size: 14px;
	text-align: center;
}

#query-textbox {
	height: 25px;
	font-size: 24px;
	width: 600px;
}

#query {
	height: 20px;
}

#wrapper {
	background-color: white;
	margin: auto;
	width: 1000px;
}

#content {
	padding: 15px;
	min-height: 400px;
}

#footer {
	padding: 5px;
	background-color: #cdcdcd;
	padding-bottom: 20px;
}