#as_of {
	font-size: 10px;
}

#search-result-status {
	font-size: 30px;
	margin-bottom: 30px;
	text-align: center;
}

#search-query {
	color: #cc6699;
}

#how_is {
	font-size: 40px;
}

.doing_bad {
	color: red;
}

.doing_ok {
	color: yellow;
}

.doing_good {
	color: green;
}

#results { 
	float: left; 
	font-size: 24px;
	padding: 5px;
}

#results #list {
	height: 350px; 
	width: 350px;
	font-size: 14px;
	overflow-y: scroll;
}

.result-item {
	margin-top: 7px;
	margin-bottom: 7px;
}

.result-item-date {
	
}

.result-item-text {
	
}