<div id="about">
	<h1>About how*s charlie</h1>

	<p>
	how's charlie was inspired by the idea that we could understand a celebrity's life-trajectory by using sentiment analysis of gossip websites. how's charlie allows users to quickly and easily find all the information about their favorite celebrities while observing their path through life's obstacles. 
	</p>
	
	<p>
		<h2>Team Foundry</h2>
		Scott and Thaisan are co-founders of Foundry Hiring (<a href="http://foundryhiring.com">http://foundryhiring.com</a>), a hiring analytics platform that automatically finds qualified candidates for open job positions.
	<br/><br/>
		<b>Scott Woody:</b> Scott is a grad school dropout from Stanford University. He religiously follows every celebrity diet and enjoys playing with his dog Winky.
	<br/><br/>
		<b>Thaisan Tonthat</b> Thaisan left the CS program at Stanford University to pursue his dream: stalking Winona Rider while developing the latest machine learning techniques for improving the hiring process. 
	</p>

	<p>
		<h2>More Info:</h2>
		<b>github</b>: http://
	</p>

	<p>
		<h3>contact: <%= mail_to "team@howscharlie.com"%></h3>
	</p>
</div>
