<div style="font-size: 32px; text-align: center; margin: 30px;">how*s charlie jobs</div>
<div style="width: 760px; margin: auto;">
  <iframe id="foundry-job-frame" class="foundry-advanced-widget" 
    src="http://www.foundryhiring.com/jobs/hows_charlie/4863df47-4eee-4721-ab6d-bc9d47d8fdf0"
    height="700px;" width="760px;" scrolling="no" frameborder="0" allowtransparency="true">
  </iframe>
</div>